*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

.app {
 min-height: 100vh;
 display: grid;
 background-image: url("https://images.pexels.com/photos/1118873/pexels-photo-1118873.jpeg?cs=srgb&dl=pexels-jplenio-1118873.jpg&fm=jpg");
 background-repeat: no-repeat;
 background-size: cover;
}